extends layout

block content
    h1= "Thank you for using the AttentiSensor prototype!"
    hr
    main
      button(id="btn-done-reset" class="btn btn-success" onclick="window.location.href='/reset'") Return to main

block scripts
